/* global styling */
@font-face {
  font-family: "Airbnb";
  src: url(../fonts/AirbnbCereal-Light.ttf) format("truetype");
}

* {
  font-family: "Airbnb";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding-header {
  padding-top: 12px;
  padding-bottom: 12px;
}
.menu-icon {
  margin-left: 1.7em;
}

/* styling for header content */
.header-content {
  display: flex;
  flex-direction: row;
  height: 10vh;
}
.food-menu-header {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.cart-header {
  flex: 1;
  text-align: center;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #cecece;
}
.search-icon {
  margin-right: 2em;
}

/* styling for main content */
.main-content {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.food-menu-content {
  flex: 2;
  overflow: auto;
  background: rgba(190, 195, 202, 0.3);
}
.food-menu-content::-webkit-scrollbar {
  width: 5px;
  background: #cecece;
}
.food-menu-content::-webkit-scrollbar-thumb {
  background: rgba(126, 126, 126, 0.3);
}
.cart-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cecece;
}
.cute-img {
  margin-top: 4em;
}
.desc-text {
  font-size: 1.1em;
  font-weight: bold;
  color: #cecece;
}
